<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4u72YHMbn73DC8eGltlNZ4HeT7uFYaxoaU5VcjvCN3HwkxwgqduzJPZu9OLV9os6Jv9k&usqp=CAU" 
        alt=""
        height="200px"
        srcset="">
    </div>

    <div class="big-card_title">
        <h1><a href=""> Saiu a nova versao do Angular</a></h1>
    </div>

    <div class="big-card_description">
        <p>
         <a href="">
            Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself."
         </a>
        </p>
    </div>
</div>