.container_articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

header {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}