.container_content {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_cover  > img {
    width: 500px;
    height: 300px;
}

.content_description{
    margin-top: 15px;
    text-align: center;
}

.content_description > p {
    color: rgba(170, 169, 169, 0.616);
    margin:  30px 50px;
}